#grid {
    display: grid;
    grid-template-columns: repeat(100);
}

.box {
    width: 2px;
    height: 2px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border: 1px solid #ccc;
}